<h1>About</h1>
<br/>

<h2>Information About Us</h2>
<p>Don't kill all your dark areas - you need them to show the light. There isn't a rule. 
  You just practice and find out which way works best for you.
  <br/>
  
  There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. 
  Sometimes you learn more from your mistakes than you do from your masterpieces. 
  We can fix anything.
</p>

<br/>
<section id="Lots">
  <section id="about"></section>
  <section></section>
  <section id="contact">
    <div class="container">
      <h2 class="text-center_text-uppercase">Contact Us</h2>
      <div class="row">
        <form action="https://formspree.io/" method="POST">
        <div class="control-group">
            <div class="form-group">
              <label>Name</label>
              <br/>
              <input
                type="text"
                class="form-control"
                placeholder="Your Name"
                id="name"
                required
                data-validation-required-message="Please enter your name"
                name="name"
                >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <label>Email Address</label>
              <br/>
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
                id="email"
                required
                data-validation-required-message="Please enter your email"
                name="_replyto"
              >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <textarea
                class="form-control"
                rows="7"
                placeholder="Your Message"
                id="message"
                required
                data-validation-required-message="Please leave a message"
                name="message"
              ></textarea>
              <p class="help-block text-danger"></p>
  </div>
          </div>
  
  
          <div class="text-center">
            <div id="success"></div>
            <button type="submit" class="btn btn-lg btn-black">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
</section>