/* LOGO CSS */
#bimg {
    background-image: url('/assets/image/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    background-size: cover;
    position: relative;
}

.space {
    margin: 0;
    padding: 0;
    position: absolute;
}

#logo {
    opacity: .7;
    margin-top: 10%;
    position: relative;
    width: 55vw;
    height: 45vh;
    margin-left: 40%;
    z-index: 3;
}
/* END of Logo css */
