<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Garden House | Botanical Supply</title>
</head>
<body>
    <!-- <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">LOGIN</a>
      </nav> -->
  <!-- Header LOGO -->
  <div class="space"><img src="../assets/image/Garden House-head.png" id='logo'/></div>
    <div class="jumbotron jumbotron-fluid" id="bimg">
        <div class="container" id="header">
        </div>
      </div>
      <!-- end of logo -->
</body>
</html>
 
<app-design-home></app-design-home>
<app-auth></app-auth>
<app-display-products></app-display-products>
<router-outlet></router-outlet>