<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <br>
  <br>
    <div class="jumbotron" id="height-cf">
        <h2>Our Mission</h2>
        <p class="lead">At Garden House, we serve millions of gardeners nationwide, offering everything from seed-starting supplies, and garden furniture to flower supports and garden carts.  We remain passionately committed to providing garden-tested, earth-friendly products that will help our customers have more fun and success in their gardens. 
         We are gardeners ourselves and have earned our customers' trust by providing high-quality products, expert information, and friendly, personalized service.
          We understand the products we sell because we use them in our own gardens.</p>
      </div>
      <img src="../../assets/image/cactus.jpg" style="width: 100%" id="img-cactus"/>
      <br>
      <div class="card" id="about">
          <div class="card-body">
              <app-about></app-about>
          </div>
        </div>
        <br>
  
      
          
        
</body>
</html>


